@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
}

.Login {
  width: 40%;
  position: absolute;
  top: 25vh;
  left: 30%;
}

.Login label,
button {
  margin-top: 20px;
}

.loginButton {
  width: 100%;
}

.changePasswordLink {
  display: block;
  margin-top: 40px;
  text-align: center;
}

.ChangePassword {
  width: 40%;
  position: absolute;
  top: 20vh;
  left: 30%;
}

.ChangePassword label,
button {
  margin-top: 15px;
}

.date_picker {
  font-family: "Nunito";
  padding: 0.2rem;
  border: 2px solid #eee;
  border-radius: 2px;
  outline: none;
  font-size: 0.9rem;
}

.datePicker {
  width: 35rem;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.notification-container {
  position: fixed;
  bottom: 20px;
  transition: top 0.5s ease;
  width: 100%;
  height: 5rem;
  text-align: center;
}

.notification-box {
  user-select: none;
  background-color: #fff;
  display: inline;
  padding: 15px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.btn-icon {
  width: 1rem;
  height: 1rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background: white;
}

.btn-icon > i {
  outline: none;
}

.calendar-cell {
  position: relative;
  display: inline-block;

  border-radius: 5px;
  margin: 4px;
  width: 7rem;
  height: 7rem;
  padding: 0.5rem;
  background: rgb(243, 243, 243);

  cursor: pointer;
}

.day-of-week {
}

.status {
  position: absolute;
  top: 40%;
  left: 10px;
}

.date-of-month {
  position: absolute;
  bottom: 5px;
  font-size: 0.8rem;
}

.attendance-list {
  padding-top: 5.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  height: 45rem;
  overflow-y: scroll;
}

.weekend {
  background: rgb(161, 161, 161);
}

.weekend * {
  color: white;
}

.present {
}

.present * {
}

.absent {
  background: #e45e5e;
}

.absent * {
  color: white;
}

.yellow {
  background: rgb(238, 235, 39);
}

.yellow * {
  color: white;
}

.navbar {
  z-index: 1 !important;
}

.tooltip {
  z-index: 5 !important;
  opacity: 0;
  transition: all 0.2s ease-out;
  position: absolute;
  top: 7rem;
  left: -22%;
  background: linear-gradient(
    to bottom right,
    rgb(22, 162, 255),
    rgb(22, 115, 255)
  );
  padding: 5px;
}

.tooltip * {
  color: white;
}

.calendar-cell:hover .tooltip {
  opacity: 1;
  top: -5.5rem;

  width: 10rem;
  height: 5rem;

  border-radius: 5px;
}

.tooltip span {
  display: block;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #d9534f;
  color: #fff;
  transition: all 0.3s;

  padding-top: 1rem;
}

.sidebar-header p {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.admin-links * {
  color: white;
  text-decoration: none;
}

.admin-links *:hover {
  color: white;
  text-decoration: none;
}

.components li,
a {
  cursor: pointer;
  margin-top: 15px;
}

.admin-links {
  padding-left: 1rem;
}

.employee-code-navbar {
  padding: 0.2rem;
  border-bottom: 2px solid #eee;
  padding-left: 1rem;
}

.dropdown-arrow {
  margin-top: 0.2rem;
}

.admin-content {
  padding: 1rem;
  position: absolute;
  left: 15%;
  top: 0px;
  height: 100%;
  width: 85%;
}

.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.search-result * {
  margin: 0;
}

.employee-item {
  width: 50%;
  background-color: #eee;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
